//*==================  ДРУГИЕ ФАЙЛЫ ==================*//
@import "reset.scss";
//*==================  ДРУГИЕ ФАЙЛЫ ==================*//

//*==================  BOOTSTRAP ==================*//
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
//*==================  BOOTSTRAP ==================*//

//*==================  FONT ==================*//
@font-face {
    font-family: 'Gilroy';
    src: url('../files/font/Gilroy-Bold.eot');
    src: url('../files/font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../files/font/Gilroy-Bold.woff2') format('woff2'),
        url('../files/font/Gilroy-Bold.woff') format('woff'),
        url('../files/font/Gilroy-Bold.ttf') format('truetype'),
        url('../files/font/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../files/font/Gilroy-SemiBold.eot');
    src: url('../files/font/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../files/font/Gilroy-SemiBold.woff2') format('woff2'),
        url('../files/font/Gilroy-SemiBold.woff') format('woff'),
        url('../files/font/Gilroy-SemiBold.ttf') format('truetype'),
        url('../files/font/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../files/font/Gilroy-Regular.eot');
    src: url('../files/font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../files/font/Gilroy-Regular.woff2') format('woff2'),
        url('../files/font/Gilroy-Regular.woff') format('woff'),
        url('../files/font/Gilroy-Regular.ttf') format('truetype'),
        url('../files/font/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
//*==================  FONT ==================*//

//*==================  GLOBAL ==================*//
.stg-section {
    &_margin {
        & + & {
            margin-top: 65px;
        }
    }

    &_connection-form {
        margin-top: 159px;
    }

    &_independent-margin {
        margin-top: 65px;
    }
}

.stg-btn {
    border-radius: 5px;
    background: #E54E43;
    border: 2px solid #E54E43;
    outline: 0px;
    color: #FFF;
    text-align: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.4s;

    &_small {
        font-size: 16px;
        padding: 10px 25px;
    }

    &_middle {
        font-size: 16px;
        padding: 10px 32px;
    }

    &_big {
        font-size: 18px;
        padding: 14px 34px;
    }

    &:active, &:hover {
        background-color: #FFF;
        color: #E54E43;
        transition: all 0.4s;
    }
}

.stg-h1 {
    color: #E54E43;
    font-family: "Gilroy";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.stg-h2 {
    color: #000;
    text-align: center;
    font-family: "Gilroy";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.stg-h3 {
    color: #000;
    font-family: "Gilroy";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.stg-h4 {
    color: #000;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.stg-text-accent {
    color: #E54E43;
    font-family: "Gilroy";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.stg-text-strong {
    color: #000;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}

a {
    cursor: pointer;
    text-decoration: none;
}

.stg-shadow {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: .5s;
}
//*==================  GLOBAL ==================*//

body {
    font-family: 'Gilroy';
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.logo {
    width: 178px;
    height: auto;
}

.header {
    padding: 20px 0px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
    position: relative;

    &__burger-right {
        margin-right: 15px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__language-cntr {
        display: inline-block;
    }

    &__nav {
        display: inline-block;
    }

    &__menu {
        display: inline-block;
        display: flex;
        gap: 10px;
    }

    &__menu-item {
        display: inline-block;
    }

    &__menu-link {
        transition: all 0.4s;

        &:active, &:hover {
            border-radius: 5px;
            background: #EEE;
            color: #E54E43;
            padding: 12px 16px;
            transition: all 0.4s;
        }
    }
}

.section {
    &__main-menu {
        background-image: url("@img/main-info.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: auto 100%;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    }
}

.main-info {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
    z-index: 1;
    position: relative;
    padding-top: 78px;
    padding-left: 139px;

    height: 585px;
    &__advantage-text {
        font-size: 14px;
    }

    &__title {
        margin-bottom: 22px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__advantage-info {
        margin-left: 14px;
        display: inline-block;
    }

    &__advantages {
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
        padding: 13px 17px;
        margin-bottom: 43px;
        display: flex;
        justify-content: space-between;
    }

    &__advantage {
        display: inline-block;
    }

    &__btn {
        float: right;
    }
}

.sketch-country {
    padding: 26px 0px;
    border-bottom: 1px #DFDFDF solid;
    
    

    &__img-flug {

    }

    &__info {

    }

    &__price {
        margin-top: 9px;
    }

    &__advantages {

    }

    &__advantages-list {
        list-style-type: disc;
    }

    &__advantages-item {
        list-style-type: disc;
    }
}

.offers-list {
    &__title {
        margin-bottom: 39px;
    }

    .row + .row {
        margin-top: 26px;
    }
}

.offer {
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 22px 13px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
        height: 102px;
        width: auto;
    }

    &__text {
        display: inline-block;
        max-width: 185px;
    }
}

.text-block {
    &__block {

    }

    &__paragraph {

        & + & {
            margin-top: 15px;
        }
    }

    &__title {
        margin-bottom: 23px;
    }

    &__paragraph-title {

    }
}

.connection-form {
    padding: 43px 0px 0px 65px;
    border-radius: 5px;
    background: #F3F3F3;

    &__title {
        color: #E54E43;
        font-family: Gilroy;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 50px;
        margin-bottom: 12px;
    }

    &__img {
        position: absolute;
        height: 472px;
        width: auto;
        bottom: 0px;
        right: 0px;
    }

    &__img-block {
        position: relative;
    }

    &__text {
        margin-bottom: 15px;
    }

    &__contacts-list {
        margin-top: 28px;
        margin-bottom: 16px;
    }

    &__contact-item {
        display: inline-flex;
        align-items: center;

        & + & {
            margin-left: 12px;
        }
    }

    &__contact-icon {
        margin-right: 6px;
    }

    &__person-title {

    }

    &__person-text {

    }
}

.footer {
    padding: 26px 0px 17px 0px;

    &__partner {
        display: flex;
        gap: 15px;
    }

    &__partner-img {
        width: 65px;
        height: auto;
    }

    &__partner-text {
        font-size: 14px;
        max-width: 210px;
        line-height: 16px;
    }

    &__menu-title {

    }

    &__menu-list {
        column-count: 2;
    }

    &__menu-item {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 24px;
    }

    &__menu-link {

    }
}

.copyright {
    padding: 14px 21px;
    text-align: center;
}

.faq {

    &__item {
        &_active {
            .faq__header-btn {
                &::after {
                    transform: rotate(90deg);
                    top: 4px;
                    opacity: 0;
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 21px 10px 21px 0px;
        border-bottom: 1px solid #DFDFDF;
        &-title {
            color: #000;
            font-family: Gilroy;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
        }

        &-btn {
            margin-left: 15px;
            flex: 0 0 auto;
            border: 2px solid #E54E43;
            border-radius: 5px;
            width: 22px;
            height: 22px;
            cursor: pointer;
            position: relative;
            transition: .3s;
            &::before {
                content: '';
                width: 10px;
                height: 2px;
                position: absolute;
                background-color: #E54E43;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 2px;
                transition: .3s;
            }
            &::after {
                content: '';
                width: 2px;
                height: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #E54E43;
                border-radius: 2px;
                transition: .3s;
                opacity: 1;
            }

            &:hover {
                border: 2px solid #000000;
                &::before, &::after {
                    background-color: #000000;
                }
            }
        }
    }

    &__wrapper {
        margin-top: 40px;
    }

    &__content {
        padding: 18px 0;
    }
    


}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);

    &__dialog {
        max-width: 500px;
    }

    &__content {
        position: relative;
        width: 100%;
        padding: 40px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        max-height: 80vh;
        overflow-y: auto;
    }

    &__close {
        position: absolute;
        top: 8px;
        right: 14px;
        font-size: 30px;
        color: #000;
        opacity: .5;
        font-weight: 500;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__title {
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }
    
    &__input {
        display: block;
        margin: 20px auto 20px auto;
        background:#fff;
        box-shadow: 0 4px 15px rgba(0,0,0,.2);
        border: none;
        text-align: center;
        padding: 20px;
        outline: 0;
        width: 100%;
    }

    .btn {
        display: block;
        margin: 0 auto;
    }
}

.language-ctrl {
    display: inline-flex;
    gap: 14px;

    &__whats-icon {
        width: 20px;
        height: auto;
    }

    &__telegram-icon {
        width: 20px;
        height: auto;
    }

    &__translation-block {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            background-image: url("@img/arrow-down.svg");
            width: 8px;
            height: 5px;
            top: 8px;
            right: -12px;
        }
    }

    &__translation-icon {
        width: 20px;
        height: auto;
        position: relative;
    }

    &__link {

    }
}

.burger {
    /*&__line {
        background-color: #E54E43;
        border: 2px;
        width: 20px;
        height: 3px;
    }*/

    height: 35px;

    &__btn {
        height: 35px;
        width: auto;
        cursor: pointer;
    }

    &__nav {

    }

    &__list {

    }

    &__list-item {

    }
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@include media-breakpoint-down (xl) {
    .main-info {
        padding-left: 25px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 0.7) 10%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 100%);
    }

    .stg-h3 {
        font-size: 18px;
    }

    .offer {
        &__text {
            max-width: 134px;
        }
    }

    .connection-form {
        &__img {
            height: 400px;
        }
    }

    .sketch-country {

        &__price {
            margin-top: 0px;
        }

        &__info {
            display: flex;
            gap: 20px
        }

        &__info-name {
            display: inline-block;
        }
    
        &__info-price {
            display: inline-block;
        }

        &__btn {
            margin-top: 15px;
        }
    }

    .connection-form {
        &__contacts-list {
            margin-top: 28px;
            margin-bottom: 16px;
            display: inline-flex;
            flex-wrap: wrap;
            gap: 12px;
        }
    
        &__contact-item {
    
            & + & {
                margin-left: 0px;
            }

            &:nth-child(2) {
                //margin-left: 12px;
            }
        }
    }

    .stg-section {
        &_connection-form {
            margin-top: 77px;
        }
    }
}

@include media-breakpoint-down (lg) {
    .section {
        &__main-menu {
            background-position: -160px 0;
        }
    }

    .main-info {
        padding-left: 0px;
        height: 468px;
    }

    .offer {
        flex-direction: column-reverse;
        height: 100%;

        &__text {
            text-align: center;
        }
    }

    .connection-form {
        &__contacts-list {
            flex-direction: column;
            max-width: 200px;
            margin: 20px auto;
        }

        &__btn {
            display: block;
            margin: 0 auto;
        }

        &__title {
            text-align: center;
            margin-top: 11px;
        }

        &__subtitle {
            text-align: center;
        }

        &__text {
            text-align: center;
        }

        &__contact-item {
            max-width: 180px;
        }

        &__img {
            height: 236px;
            left: 0;
            right: auto;
        }

        &__person-text {
            margin-bottom: 20px;
        }
    }

    .sketch-country {
        &__advantages {
            margin-top: 15px;
        }

        &__advantages-list {
            margin-left: 20px;
        }
    }
}

@include media-breakpoint-down (md) {

    .section {
        &__main-menu {
            background-position: -238px 0;
        }
    }
    .main-info {
        padding-top: 23px;
        height: 490px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0.7) 10%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 100%);

        &__advantages {
            flex-wrap: wrap;
            margin-bottom: 18px;
        }
    }

    .footer {
        &__partner {
            display: none;
        }

        .logo-link {
            text-align: center;
            margin-top: 20px
        }

        .logo {
            width: 263px;
        }

        &__partner-secondary {
            justify-content: center;
            gap: 15px;
            align-items: center;
            margin-top: 15px;
        }

        &__partner-secondary-img {
            width: 65px;
            height: auto;
        }

        &__partner-secondary-text {

        }
    }

    @include media-breakpoint-down (sm) {
        .main-info {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 100%);
            height: 228px;
            max-width: 300px;
            padding-left: 70px;
            float: right;

            &__text {

            }

            &__btn {
                float: none;
            }

            &__advantage {
                width: 228px;
            }

            &__advantages {
                justify-content: center;
            }
        }

        .section {
            &__main-menu {
                background-size: auto 150%;
                background-position: -170px 0;
            }
        }

        .stg-h1 {
            font-size: 26px;
            font-weight: 600;
        }

        .stg-btn {
            &_big {
                font-size: 16px;
                font-weight: 400;
            }
        }

        .sketch-country {
            &__info {
                flex-direction: column;
            }
        }

        .offer {
            margin-top: 26px;
            height: auto;
            flex-direction: row;

            &__text {
                text-align: none;
            }
        }

        .offers-list .row + .row {
            margin-top: 0px
        }

        .connection-form {
            padding: 13px 17px 0px 13px;
        }

        .footer {
            &__menu-list {
                column-count: 1;
            }
        }
    }
}